.moving-image {
    animation: moveImage 2s infinite alternate;
}
  
@keyframes moveImage {
from {
    transform: translateX(0);
}
to {
    transform: translateX(50px);
}
}

@media (max-width: 768px) {
    .moving-image {
        animation: none;
    }
}